<mat-card class="bcard">
   <mat-card-header>
         <mat-card-title>  
           <img alt="icon"  [src]="bicon" class="bicon">
          <h2>Balcão</h2>
        </mat-card-title>         
         <mat-card-subtitle>Pedidos & Coordenação</mat-card-subtitle>
   </mat-card-header>
         <p></p>  
</mat-card> 
  <h3 class="titulo" >Pedidos efetuados</h3>

  <div class="example-container mat-elevation-z8">
    <!-- <div class="example-header">
      <mat-form-field>
       <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"> 
      </mat-form-field> 
    </div> -->
  
    <mat-table  ngFor="let of peleItemList"  #table [dataSource]="peleItemList">
 
     
      <!-- Position Column -->
      <ng-container matColumnDef="mesas">
        <mat-header-cell *matHeaderCellDef>Mesa</mat-header-cell>
        <mat-cell *matCellDef="let peleItemList"> {{peleItemList.selectedMesa}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="qtdesL">
        <mat-header-cell *matHeaderCellDef> Qtde L. </mat-header-cell>
        <mat-cell *matCellDef="let peleItemList"> {{peleItemList.selectedQtdeE}} </mat-cell>
      </ng-container> 
   
      <!-- Weight Column -->
      <ng-container matColumnDef="lanches">
        <mat-header-cell *matHeaderCellDef> Lanche </mat-header-cell>
        <mat-cell *matCellDef="let peleItemList"> {{peleItemList.selectedEat}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="qtdesB">
        <mat-header-cell *matHeaderCellDef> Qtde B. </mat-header-cell>
        <mat-cell *matCellDef="let peleItemList"> {{peleItemList.selectedQtdeD}} </mat-cell>
      </ng-container>

     <!-- Weight Column -->
     <ng-container matColumnDef="bebidas">
      <mat-header-cell *matHeaderCellDef> Bebida </mat-header-cell>
      <mat-cell *matCellDef="let peleItemList"> {{peleItemList.selectedDrink}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let peleItemList"> {{peleItemList.totalCount}} </mat-cell>
    </ng-container>


      <!-- Symbol Column -->
     
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>


  <!--   selectedDrink
  <div class="unids">
   <p><b>Mesa :</b> {{clientData.selectedMesa}} </p>
   <p><b>Quantidade :</b> {{clientData.selectedQtde}} </p>     
   <p><b>Lanche :</b> {{clientData.selectedLanche}} </p> 
  </div>
 
  
  <br><br><br>
  <div class="example-container">
      <form (submit)="submit()"> 
         <div class="titulo" ><h3>Selecione o pedido :</h3></div> 
          <mat-form-field>         
           <mat-select name="selectedMesa" placeholder="Mesa" [(value)]="selectedMesa" [(ngModel)]="clientData.selectedMesa">      
              <mat-option value="1">01</mat-option>
              <mat-option value="2">02</mat-option>
              <mat-option value="3">03</mat-option>
              <mat-option value="4">04</mat-option>
              <mat-option value="5">05</mat-option>
              <mat-option value="6">06</mat-option>
              <mat-option value="7">07</mat-option>
              <mat-option value="8">08</mat-option>
              <mat-option value="9">09</mat-option>
              <mat-option value="10">10</mat-option> 
            </mat-select>
          </mat-form-field>   
        <br> 
        <mat-form-field>         
          <mat-select name="selectedQtde" placeholder="Quantidade" [(value)]="selectedQtde" [(ngModel)]="clientData.selectedQtde">     
             <mat-option value="1">01</mat-option>
             <mat-option value="2">02</mat-option>
             <mat-option value="3">03</mat-option>
             <mat-option value="4">04</mat-option>
             <mat-option value="5">05</mat-option>
             <mat-option value="6">06</mat-option>
             <mat-option value="7">07</mat-option>
             <mat-option value="8">08</mat-option>
             <mat-option value="9">09</mat-option>
             <mat-option value="10">10</mat-option> 
           </mat-select>
         </mat-form-field>   
       <br>  <br>
           
           <mat-form-field>         
      <mat-select name="selectedLanche" placeholder="Lanche" [(value)]="selectedLanche" [(ngModel)]="clientData.selectedLanche"> 
               <mat-option value="Pelé X">Pelé-X</mat-option>
               <mat-option value="Pelé XFrango">Pelé-Frango</mat-option>
               <mat-option value="Pelé XDog">Pelé XDog</mat-option>
               <mat-option value="Pelé Dogão">Pelé Dogão</mat-option>
               <mat-option value="Pelé Dogão Frango">Pelé Dogão Frango</mat-option>
               <mat-option value="Pelé Fritas Grande">Pelé Fritas Grande</mat-option>
               <mat-option value="Pelé Fritas Média">Pelé Fritas Média</mat-option>
               <mat-option value="Pelé Fritas Pequena">Pelé Fritas Pequena</mat-option>
             </mat-select>
           </mat-form-field> 
       <br>
       
           <button mat-button color="primary" type="submit">Pedir</button>
          <br>
      </form>
       </div>
       <p>{{clientData.askOk}}</p>
      -->


       
    
  
     