.example-header-image {
    /*background-image: url('../assets/b-icon.png');*/
    background-size: cover;
    background-color: aqua;
  } 

  .bicon {
    height: 35%;
    width: 35%;
    float: left;
    
  }

  .titulo{
    text-align: center;
  }

  
  .unids{
    margin-left: 1%;
  }

.gcard{
    width:99%;
}

.mat-button{
    color : white;
    background-color:#4e2bb5;
   
    width: 100%;
}

.mat-form-field{
    padding: 0.1% 0.5% 0.1% 0.5%;
}

.mat-header-cell{
  color:black;
  font-weight: bold;
  text-align: center;
}

.mat-cell{
  text-align: center;
}
