
<mat-form-field>         
  <mat-select name="selectedDrink" placeholder="Quantidade" [(value)]="selectedDrink" [(ngModel)]="selectedItem.selectedDrink">     
     <mat-option value="1">01</mat-option>
     <mat-option value="2">02</mat-option> 
     <mat-option value="3">03</mat-option>
     <mat-option value="4">04</mat-option>
     <mat-option value="5">05</mat-option>
     <mat-option value="6">06</mat-option>
     <mat-option value="7">07</mat-option>
     <mat-option value="8">08</mat-option>
     <mat-option value="9">09</mat-option>
     <mat-option value="10">10</mat-option> 
   </mat-select>
 </mat-form-field>   
<br>  <br> 

<input type="text" [(ngModel)]="xUnit" >
<br><br>
{{xUnit * selectedDrink}}
<br><br><br>
{{selectedDrink}}

<br>  <br><br>  <br>

<h3>Adicionar </h3>
<form #frm = "ngForm" (ngSubmit)="addItem(frm)" > 
  <div class="example-container"> 
      <mat-form-field>
        <input matInput placeholder="Mesa" type="number" [(ngModel)]="selectedItem.selectedMesa"  name="selectedMesa" value=" " >
      </mat-form-field>
    
      <mat-form-field> 
        <input matInput placeholder="Quantidade" type="number" [(ngModel)]="selectedItem.selectedQtdeE"  name="selectedQtdeE" value=" " >
      </mat-form-field> 
    
      <mat-form-field>
          <input matInput placeholder="Lanche" type="text" [(ngModel)]="selectedItem.selectedEat" name="selectedEat" value=" " >
      </mat-form-field>
      <mat-form-field> 
        <input matInput placeholder="Quantidade Bebida" type="number" [(ngModel)]="selectedItem.selectedQtdeD"  name="selectedQtdeD" value=" " >
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Bebida" type="text" [(ngModel)]="selectedItem.selectedDrink" name="selectedDrink" value=" " >
        </mat-form-field>
        <!--<mat-form-field>
            <input matInput placeholder="Conta Total" type="number" [(ngModel)]="selectedItem.totalCount"  name="totalCount" value=" " >
          </mat-form-field>-->
          <h2>{{calcularTotal()}}</h2>
    </div>
    <button mat-button type="submit" >Salvar</button>
  </form> 
  
    <br><br><br><br>
  
  <h3>Editar</h3>
    <form #editForm = "ngForm" (ngSubmit)="editItem(editForm)" >
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Mesa" type="number" [(ngModel)]="selectedItem.selectedMesa"  name="selectedMesa" value=" " >
        </mat-form-field>
       
        <mat-form-field> 
          <input matInput placeholder="Quantidade Lanche" type="number" [(ngModel)]="selectedItem.selectedQtdeE"  name="selectedQtdeE" value=" " >
        </mat-form-field>
      
        <mat-form-field>
            <input matInput placeholder="Lanche" type="text" [(ngModel)]="selectedItem.selectedEat" name="selectedEat" value=" " >
        </mat-form-field>
        <mat-form-field> 
          <input matInput placeholder="Quantidade Bebida" type="number" [(ngModel)]="selectedItem.selectedQtdeD"  name="selectedQtdeD" value=" " >
        </mat-form-field>
        
          <h2>{{selectedItem.totalCount}}</h2>
      </div>
        <button mat-button type="submit" >Salvar</button>
      </form> 
      
        <br><br><br><br>
  
  
    <h2>Lista banco</h2> 
    
  
  <div class="example-container mat-elevation-z8">
      <!-- <div class="example-header">
        <mat-form-field>
         <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"> 
        </mat-form-field> 
      </div> -->
    
      <mat-table  ngFor="let of peleItemList"  #table [dataSource]="peleItemList">
  
       
        <!-- Position Column -->
        <ng-container matColumnDef="mesas">
          <mat-header-cell *matHeaderCellDef> Mesa </mat-header-cell>
          <mat-cell *matCellDef="let peleItemList"> {{peleItemList.selectedMesa}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="lanches">
          <mat-header-cell *matHeaderCellDef> Lanche </mat-header-cell>
          <mat-cell *matCellDef="let peleItemList"> {{peleItemList.selectedEat}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="qtdes">
          <mat-header-cell *matHeaderCellDef> Quantidade Bebida </mat-header-cell>
          <mat-cell *matCellDef="let peleItemList"> {{peleItemList.selectedQtdeD}} </mat-cell>
        </ng-container> 
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="drinks">
          <mat-header-cell *matHeaderCellDef> Bebida </mat-header-cell>
          <mat-cell *matCellDef="let peleItemList">{{peleItemList.selectedDrink}}</mat-cell>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="totals">
          <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
          <mat-cell *matCellDef="let peleItemList">{{peleItemList.totalCount}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="editar">
          <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
          <mat-cell *matCellDef="let peleItemList">
            <button mat-button type="button" name="button" (click)="setSelectedItem(peleItemList)"  >Editar</button>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="deletar">
          <mat-header-cell *matHeaderCellDef> Deletar </mat-header-cell>
          <mat-cell *matCellDef="let peleItemList">
            <button mat-button type="button" name="button" (click)="deleteItem(peleItemList._id)">Deletar</button>
          </mat-cell>
        </ng-container> 
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    
  