


<form #frm = "ngForm" (ngSubmit)="addItem(frm)" >
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Mesa" type="number" ngModel  name="itemSelectedMesa" value="" >
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Quantidade" type="number" ngModel  name="itemSelectedQtde" value="" >
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Lanche" type="text" ngModel name="itemSelectedLanche" value="" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="total Paes" type="number" ngModel  name="itemTotalBread" value="" >
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Conta Total" type="number" ngModel  name="itemTotalCount" value="" >
        </mat-form-field>
  </div>
  <button mat-button type="submit" >Salvar</button>
</form> 

  <br><br><br><br>
  <h2>Lista banco</h2>

<div class="example-container mat-elevation-z8">
    <!-- <div class="example-header">
      <mat-form-field>
       <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"> 
      </mat-form-field> 
    </div> -->
  
    <mat-table  ngFor="let of peleItemList"  #table [dataSource]="peleItemList  ">
  
      <!-- Position Column -->
      <ng-container matColumnDef="mesas">
        <mat-header-cell *matHeaderCellDef> Mesa </mat-header-cell>
        <mat-cell *matCellDef="let peleItemList"> {{peleItemList.itemSelectedMesa}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="qtdes">
        <mat-header-cell *matHeaderCellDef> Quantidade </mat-header-cell>
        <mat-cell *matCellDef="let peleItemList"> {{peleItemList.itemSelectedQtde}} </mat-cell>
      </ng-container> 
  
      <!-- Weight Column -->
      <ng-container matColumnDef="lanches">
        <mat-header-cell *matHeaderCellDef> Lanche </mat-header-cell>
        <mat-cell *matCellDef="let peleItemList"> {{peleItemList.itemSelectedLanche}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="totalpaes">
        <mat-header-cell *matHeaderCellDef> Total Paes </mat-header-cell>
        <mat-cell *matCellDef="let peleItemList">{{peleItemList.itemTotalBread}}</mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="totals">
        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
        <mat-cell *matCellDef="let peleItemList">{{peleItemList.itemTotalCount}}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  

