<mat-card class="ecard">
    <mat-card-header>
          <mat-card-title>  
            <img alt="icon"  [src]="eicon" class="eicon">
           <h2>Estoque</h2>
         </mat-card-title>         
          <mat-card-subtitle>Estoque & Produtos</mat-card-subtitle>
    </mat-card-header>
          <p></p> 
 </mat-card><br>
 <h2>ESTOQUE TOTAL</h2>
 <br>
 <h3>Pães : {{clientData.bread}}</h3>
 <h3>Fat/Queijo : {{clientData.cheese}}</h3>
 <h3>Fat/Presunto : {{clientData.presunt}}</h3>
 <h3>Fat/Alface : {{clientData.lettuce}}</h3>

   