<mat-card class="bcard">
    <mat-card-header>
          <mat-card-title> 
            <img alt="icon"  [src]="picon" class="picon">
           <h2>Produção</h2>
         </mat-card-title>         
          <mat-card-subtitle>Produção & Salgados</mat-card-subtitle>
    </mat-card-header>
          <p></p> 
 </mat-card>
 <h3 class="titulo" >Pedidos efetuados</h3>
  <div class="unids">
   <p><b>Mesa :</b> {{clientData.selectedMesa}} </p>
   <p><b>Quantidade :</b> {{clientData.selectedQtde}} </p>     
   <p><b>Lanche :</b> {{clientData.selectedLanche}} </p> 
  </div>