.picon {
    height: 15%;
    width: 15%;
    float: left;
    
  }

  .pcard{
      width:99%;
  }

  .titulo{
    text-align: center;
  }

  .mat-header-cell{
    color:black;
    font-weight: bold;
  }